<%= form_for(@inscrito) do |f| %>
  <% if @inscrito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inscrito.errors.count, "error") %> prohibited this inscrito from being saved:</h2>

      <ul>
      <% @inscrito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :palestra_id %>
    <%= f.text_field :palestra_id %>
  </div>
  <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>
