<div class="col-3 caixa">
    <h2>Editar Inscrito</h2>

<%= render 'form' %>

    <p class="meio">
        <%= link_to 'Exibir', @inscrito, :class=>"exibir" %> 
        <%= link_to 'Voltar', inscritos_path, :class=>"exibir" %>
    </p>
</div>
