<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <h2>Inscritos</h2>
  <ul class="lista">
    
    <% @inscritos.each do |inscrito| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <h3 class="meio">
              <%= inscrito.palestra.title %> 
            </h3>
          </li>
          <!--LOOP COMEÇA AQUI-->
          <li>
            <strong>Nome: </strong>
            <!--AQUI EXIBE O NOME-->
          </li>
          <!--LOOP TERMINA AQUI-->
        </ul>
      </li>
    <%# end %>
  </ul>
</div>
