<p id="notice"><%= notice %></p>
<div class="col-3 caixa">
  <p>
    <strong>User:</strong>
    <%= @inscrito.user %>
  </p>
  
  <p>
    <strong>Palestra:</strong>
    <%= @inscrito.palestra %>
  </p>
  <p class="meio">
    <%= link_to 'Edit', edit_inscrito_path(@inscrito), :class=>"editar" %> |
    <%= link_to 'Back', inscritos_path, :class=>"exibir" %>
  </p>
</div>