<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EventIN</title>
</head>
<% flash.each do |message_type, message| %>
    <div class="alerta"><%= message %></div>
<% end %>
<style>
* {
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'Avenir Demi';
    src: url('/assets/AvenirDemi.woff2') format('woff2');
}
@font-face {
  font-family: 'AvenirThin';
    src: url('AvenirThin.woff2') format('woff2');
}
html{
    height: 100%
    width: 100%;
}
body {
    font-family:'Avenir Demi';
    height: 100%
    width: 100%;
}

#tempo {
    display: none;
}

#entrada {
    background: url('/assets/home_background.jpeg') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100% - 50px);
    width: 100%;
}

#countdown {
    position: absolute;
    display: block;
    background: #19386A;
    box-shadow: 1px 1px 1px 1px #0D1D37;
    padding: 15px;
    border-radius: 5px;
    top: 100px;
    right: 100px;
    color: #e8eaef;
    text-align: center;
    z-index: 5;
}

.alerta {
    width: auto;
    background: rgba(0, 128, 0, .2);
    color: #060;
    box-shadow: 1px 1px 1px 1px #080;
    position: absolute;
    border-radius: 5px;
    float: right;
    display: block;
    font-weight: bold;
    text-align: center;
    top: 65px;
    right: 15px;
}
.container {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box-login {
    padding:100px;
    border:1px solid #dedede;
    margin-top:100px;
    padding-top:50px;
}
.boxTitle {
    text-align: center;
}
.input {
    width:200px;
    border:none;
    background:#f9f9f9;
    border-radius:4px;
    height:40px;
    margin-top:30px;
    outline-color:#a26ff9;
    padding-left:20px;
    font-family: 'Avenir Demi'
}
.submit {
    width:220px;
    height:40px;
    border:none;
    background:#a26ff9;
    margin-top:30px;
    border-radius: 2px;
    font-family: 'Avenir Demi';
    color:white;
}
.signup {
    text-align: center;
    font-size:13px;
    margin-top:50px;
}

#logo img {
    width: 200px;
}

header {
    max-height: 50px;
    position: fixed;
    min-width: 100%;
    box-shadow: 0 0 2px 2px rgba(19, 43, 80, .5);
    background: #e5e7ef;
    z-index: 10;
}

.espaco-cabecalho {
    height: 50px;
}

#logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}
.menu-right {
    float:right;
    position: relative;
    top:25px;
    right:30px;
}
.menu-right a {
    margin-left:15px;
    color:#99a9be;
    font-size:13.2px;
    text-decoration: none;
    list-style: none;
}
.button {
    width: 120px;
    border: none;
    border-radius: 5px;
    background: #2B60B6;
    box-shadow: 1px 1px 1px 1px #0D1D37;
    color: #e8eaef;
    padding: 15px;
}
.countdown {
    width:300px;
    margin:auto;
    position: relative;
    top:10px;
    display: block;
    text-align: center;
}
footer {

    margin-top:100px;
    margin-bottom: 100px;
}

.limpar {
    clear: both;
}
.boxes {
width: 100%;
}
.box {
    width: 50%;
    float: left;
}

.box1 {
    width:93%;
    max-width: 500px;
    height:180px;
    border:1px solid #dedede;
    border-radius:4px;
    background-image: url(/assets/mej05.png);
    background-size:260px;
    background-repeat: no-repeat;
    float: right;
    margin-right:10px;
    
  
}
.box2 {
    width: 93%;
    max-width:500px;
    height:180px;
    border:1px solid #dedede;
    border-radius:4px;
    margin-right:10px;
  
    
}

.title {
    float: right;
    max-width:200px;
}
.title h2 {
    text-align: center;
    font-size:32px;
    color:#99a9be;
    position: relative;
    right:20px;
    top:8px;
}
.title2 {
    max-width: 400px;
    float: none;
    text-align: center;
    margin:auto;
    display: block;
}
.title2 h1 {
    text-align:center;
    color:#99a9be;
    font-size:30px;
    text-align: center;
    position: relative;
    top:12px;
    
}
.title2 h1 span {
    font-size:60px;
    color:#F3776C;
}
@media(max-width:766px) {
    .box {
        width: 100%;
        margin-top:100px;
    }
    .box1 {
        float: none;
        text-align:center;
        margin-left:10px;
       
    }
    .title {
        float: none;
        text-align: center;
        margin:auto;
        display: block;
    }
    .box2 {
       margin-left:10px;
    }
    .menu-right {
        top:0px;
        left:0px;
        right:0px;
        float:right;
        padding: 20px;
        margin-top:10px;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }
    .menu-right a {
    margin-left:30px;
    
}
    header {
        height: 110px;
    }
    .countdown {
        display:none;
    }
    footer {
        margin-top:10px;
        margin-bottom: 10px;
    }
}
@media(min-width:910px) {
    
}
</style>


    <body onload="timer()">
         <header>
               <figure id="logo">
                   <img src="/assets/logo.png" alt="">
               </figure>
        </header>
        <div class="espaco-cabecalho"></div>
        <section id="entrada">
            <div id="countdown">
                <div id="tempo"><%= Event.first.begin %></div>
                <div class="">
                    <p id="relogio"></p>
                </div>
            </div>
        </section>
        <footer>
            <div class="boxes">
               <div class="box">
                    <div class="box1">
                        <div class="title">
                            <h2>Somos 500 empresários juniores</h2>
                        </div>
                    </div>
                    <div class="limpar"></div>
                </div>
                <div class="box">
                    <div class="box2">
                        <div class="title2">
                            <h1><span>34</span> edições do maior evento do MEJ</h1>
                        </div>
                   </div>
                </div>
                <div class="limpar"></div>
            </div>
            <div style="margin-top:10px;" class="boxes">
               <div class="box">
                    <div class="box1">
                        <div class="title">
                            <h2>Somos 500 empresários juniores</h2>
                        </div>
                    </div>
                    <div class="limpar"></div>
                </div>
                <div class="box">
                    <div class="box2">
                        <div class="title2">
                            <h1><span>34</span> edições do maior evento do MEJ</h1>
                        </div>
                   </div>
                </div>
                <div class="limpar"></div>
            </div>
            
            
            <div class="limpar"></div>
        </footer>
    <script>
      function timer() {
            var dataAtual = new Date();
            var dataEvento = new Date(document.getElementById('tempo').innerHTML);
            var timer = dataEvento - dataAtual;
            if (timer > 0) {
                var data = new Date(timer);
                var dias = data.getDate()
                var horas = data.getHours();
                var minutos = data.getMinutes();
                var segundos = data.getSeconds();
                var relogio = "Faltam:<br><strong>";
                relogio += dias + " dia(s), ";
                relogio += horas + ":"; 
                relogio += minutos + ":";
                relogio += segundos;
                relogio +="</strong><br> para abrirem as inscrições.";
                
                document.getElementById('relogio').innerHTML = relogio;
                
            } else {
                document.getElementById('countdown').innerHTML = "<a class='button' href='/login'>Login</a>";
            }
            
            setTimeout('timer()', 500);
        }
    </script>
    </body>
