 <style>
@font-face {
  font-family: 'Avenir Demi';
    src: url('/assets/AvenirDemi.woff2') format('woff2');
}
@font-face {
  font-family: 'AvenirThin';
    src: url('AvenirThin.woff2') format('woff2');
}
body {
    font-family:'Avenir Demi';
    margin:0;
}
.alert {
    width:100%;
    height: 20px;
    background:black;
    color:white;
    text-align:center;
}
.container {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box-login {
    padding:100px;
    border:1px solid #dedede;
    margin-top:100px;
    padding-top:50px;
}
.boxTitle {
    text-align: center;
}
.input {
    width:200px;
    border:none;
    background:#f9f9f9;
    border-radius:4px;
    height:40px;
    margin-top:30px;
    outline-color:#a26ff9;
    padding-left:20px;
    font-family: 'Avenir Demi'
}
.submit {
    width:220px;
    height:40px;
    border:none;
    background:#a26ff9;
    margin-top:30px;
    border-radius: 2px;
    font-family: 'Avenir Demi';
    color:white;
}
.signup {
    text-align: center;
    font-size:13px;
    margin-top:50px;
}

header {
    height: 70px;
    border:1px #dedede solid;
}
.red {
    color:red;
}
.logo {
    position: relative;
    width: 140px;
    float:left;
    top:10px;
    left:10px;
}
.menu-right {
    float:right;
    position: relative;
    top:25px;
    right:30px;
}
.menu-right a {
    margin-left:15px;
    color:#99a9be;
    font-size:13.2px;
    text-decoration: none;
    list-style: none;
}
.menu-right .button {
    width: 120px;
    height:30px;
    border:none;
    border-radius:4px;
    background: #5200e0;
    color:white;
    padding: 8px 10px
}
.countdown {
    width:300px;
    margin:auto;
    position: relative;
    top:10px;
    display: block;
}
.countdown span {
    font-size:14.5px;
    text-align:center;
    
}
.countdown h2 {
    text-align: center;
    position: relative;
    top:2px;
    font-size:18px;
}
.countdown h2 span {
    color:#dedede;
    font-size:13px;
    border-bottom:1px solid #99a9be;
    color:#99a9be;
}
footer {

    margin-top:100px;
    margin-bottom: 100px;
}

.limpar {
    clear: both;
}
.boxes {
width: 100%;
}
.box {
    width: 50%;
    float: left;
}

.box1 {
    width:93%;
    max-width: 500px;
    height:180px;
    border:1px solid #dedede;
    border-radius:4px;
    background-image: url(/assets/mej05.png);
    background-size:260px;
    background-repeat: no-repeat;
    float: right;
    margin-right:10px;
    
  
}
.box2 {
    width: 93%;
    max-width:500px;
    height:180px;
    border:1px solid #dedede;
    border-radius:4px;
    margin-right:10px;
  
    
}

.title {
    float: right;
    max-width:200px;
}
.title h2 {
    text-align: center;
    font-size:32px;
    color:#99a9be;
    position: relative;
    right:20px;
    top:8px;
}
.title2 {
    max-width: 400px;
    float: none;
    text-align: center;
    margin:auto;
    display: block;
}
.title2 h1 {
    text-align:center;
    color:#99a9be;
    font-size:30px;
    text-align: center;
    position: relative;
    top:12px;
    
}
.title2 h1 span {
    font-size:60px;
    color:#F3776C;
}
@media(max-width:766px) {
    .box {
        width: 100%;
        margin-top:100px;
    }
    .box1 {
        float: none;
        text-align:center;
        margin-left:10px;
       
    }
    .title {
        float: none;
        text-align: center;
        margin:auto;
        display: block;
    }
    .box2 {
       margin-left:10px;
    }
    .menu-right {
        top:0px;
        left:0px;
        right:0px;
        float:right;
        padding: 20px;
        margin-top:10px;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }
    .menu-right a {
    margin-left:30px;
    
}
    header {
        height: 110px;
    }
    .countdown {
        display:none;
    }
    footer {
        margin-top:10px;
        margin-bottom: 10px;
    }
}
@media(min-width:910px) {
    
}
</style>
 <div class="container">
  <div class="box-login">
  <h1>Login</h1>
 <%= form_for :user_session do |f| %>
 
     <%= f.text_field :email,class: :input,placeholder: "Email .." %><br />
    
     <%= f.password_field :password, class: :input, placeholder: "Senha .." %><br />
  
    <%= f.submit "Entrar", class: :submit %><br  />
    <%= link_to "Cadastrar", new_user_path,class: :signup %>
    <%= link_to "(Esqueci minha senha)", new_password_reset_path, class: :signup %>
 <% end %>
</div>
</div>