<div class="container">
     <div class="col-3 caixa">
        <h2>Reset password</h2>

      <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.password_field :password, class: :input, placeholder: "New Password .." %>

      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password Confirmation .." %>

      <%= f.submit "Alterar senha", class: :submit %>
    <% end %>
  </div>
</div>