 <div class="container">
     <div class="box-login">
     <h1 class="boxTitle">Redefinição de Senha</h1>
 <%= form_for :password_reset, url: password_resets_path do |f| %>
 
     <%= f.text_field :email,class: :input,placeholder: "Email .." %><br />
  
     <%= f.submit "Enviar", class: :submit %><br  />
    
 <% end %>
      </div>
</div>
