<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <% if !current_user %>
    <div class="field">
      <%= f.label :cpf%>
      <%= f.text_field :cpf %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cep %>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :email %> 
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Foto %> 
    <%= f.file_field :profile_photo %>
  </div>
  <% if !@ej.nil? %>
  <div class="field">
    <%= f.label :ej %> 
    <%= f.collection_select :ej_id, Ej.all, :id, :name %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :password %> 
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation%> 
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>
