<% provide(:title, "Usuarios | ")%>
<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
<h1>Users Admin</h1>

<table id = "users_adm" >
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Exibir', user, :class=>"exibir" %></td>
        <td><%= link_to 'Editar', edit_user_path(user), :class=>"editar" %></td>
        <td><%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="centro">
<%= will_paginate @users%>
</div>
<p class="meio">
<a href="/user">Baixar CSV dos inscritos</a>
</p>
</div>
<script>
  $('#users_adm').DataTable({});
</script>
