<div class="col-3 caixa">
    <h2>Editar Usuário</h2>
    
    <%= render 'form' %>
    
    <p class="meio">
        <%= link_to 'Exibir', @user, :class=>"exibir" %>
        <%= link_to 'Voltar', users_path, :class=>"exibir" %>
    </p>
</div>