<p id="notice"><%= notice %></p>
<% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>

<div class="col-3 caixa">
  <h2>Usuários</h2>
  <p class="meio">
    <%= link_to 'Novo Inscrito', new_user_path, :class=>"novo" %>
  </p>
  <ul class="lista">
    
    <% @users.each do |user| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <h3 class="meio"><%= user.name %> </h3>
          </li>
          <li>
            <strong>CPF: </strong>
            <%= user.cpf %>
          </li>
          <li>
            <strong>CEP: </strong>
            <%= user.cep %>
          </li>
          <li>
            <strong>TELEFONE: </strong>
            <%= user.tel %>
          </li>
          <li>
            <strong>EMAIL: </strong>
            <%= user.email %>
          </li>
          <% if !user.ej_id.nil? %>
            <li>
              <strong>EJ: </strong>
              <%= user.ej %>
            </li>
          <% end %>
        </ul>
        <p class="meio">
          <%= link_to 'Exibir', user, :class=>"exibir" %>
          <%= link_to 'Editar', edit_user_path(user), :class=>"editar" %>
          <%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
        </p>
      </li>
    <% end %>
  </ul>
  <div class="centering">
    <a class="centering" href="/users.csv" class="novo">Baixar CSV dos inscritos</a>
  </div>
</div>
