
  <%= notice %>

<div class="col-1 caixa">
  <h2>Perfil</h2>
  <div class="top10"></div>
    <figure>
       <%= image_tag(@user.profile_photo) %>
    </figure>
    <p>
      <strong>Nome:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Email:</strong>
        <%= @user.email %>
    </p>
    <p>
      <strong>CPF:</strong>
        <%= @user.cpf %>
    </p>
    <p>
      <strong>CEP:</strong>
        <%= @user.cep %>
    </p>
    <p>
      <strong>Telefone:</strong>
        <%= @user.tel %>
    </p>
    <% if @user.ej.presence %>
      <p>
        <strong>Ej:</strong>
          <%= @user.ej.name %>
      </p>
    <!--<p>-->
    <!--  <strong>Fereração:</strong>-->
        <%#= @user.ej.federation.name %>
    <!--</p>-->
    <p>
    <% end %>
      <!--EMPRESA JUNIOR - FEDERAÇÃO - FEDERADA (OU NÃO)-->
    </p>
    <p>
      <strong>Companheiros de quarto: </strong>
      <!--ACOMODACAO-->
    </p>
    <div id="companheiros-quarto">
      <% if !@user.room_id.nil? %>
      <% @friends.each do |friend| %>
        <p class="meio">
          <%= friend.name %>
        </p>
        <figure class="companheiro">
          <%= image_tag(friend.profile_photo) %>
        </figure>
      <% end %>
      <% end %>
      
  <div class="top10"></div>
    <p class="meio">
      <% if logged_in? %>
        <%= link_to "Sair", logout_path, method: :delete, :class=>"apagar"  %>
      <% end %>
      <% if !logged_in? %>
        <%= link_to 'Login', login_path, :class=>"exibir" %>
      <% end %>
  
      <%= link_to 'Editar', edit_user_path(@user), :class=>"editar"  %>
    </p>
  </div>
  <div class="top10"></div>  
</div>

<div class="col-2 caixa">
  <h2>Ranking</h2>
  <ul class="lista" id="ranking">
  <% @ejs.order("counter DESC").limit(5).each do |ej| %>
    <li class="lista-item">
      <ul class="sublista">
        <li>
          <h3 class="meio">
            <%= ej.name %>
          </h3>
        </li>
        <% if ej.federation %>
        <li>
          <strong>Federação: </strong>
          <%= ej.federation.name%>
        </li>
        <% end %>
        <li>
          <strong>Cidade: </strong>
          <%= ej.city %>
        </li>
        <li>
          <strong>Contador: </strong>
          <%= ej.counter %>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

<div class="col-3 caixa">
  <!--PROGRAMAÇÃO ESCOLHIDA PELO USUÁRIO-->
  <h2>Programação</h2>
  <% current_user.pasers.each do |paser|%>
  <ul class="lista">
    
    <li class="lista-item">
      <ul class="sublista">
        <li>
          <h3 class="meio"><%= paser.palestra.title %> </h3>
          <!--TAG RAILS-->
        </li>
        <li>
          <strong>Orador: </strong>
          <%= paser.palestra.speaker %>
          <!--TAG RAILS-->
        </li>
        <li>
          <strong>Data: </strong>
          <%= paser.palestra.dat %>
          <!--TAG RAILS-->
        </li>
        
        <li>
          <strong>Descrição: </strong>
          <%= paser.palestra.description %>
          <!--TAG RAILS-->
        </li>
        
    
      </ul>
     
    </li>
  </ul>
  <% end %>
</div>

