<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :begin %>
    <%= f.datetime_select :begin %>
  </div>
  <div class="field">
    <%= f.label :end %>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :starting %>
    <%= f.datetime_select :starting %>
  </div>
  <div class="field">
    <%= f.label :ctrl %>
    <%= f.check_box :ctrl %>
  </div>
  <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>
