<div class="col-3 caixa">
    <h2>Editar Evento</h2>

<%= render 'form' %>

    <p class="meio">
        <%= link_to 'Exibir', @event, :class=>"exibir" %>
        <%= link_to 'Voltar', events_path, :class=>"exibir" %>
    </p>
</div>
