<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <h2>Evento</h2>
  <p class="meio">
    <%= link_to 'Novo Evento', new_event_path, :class=>"novo" %>
  </p>
  <ul class="lista">
    
    <% @events.each do |event| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <strong>Inicio: </strong>
            <%= event.begin %>
          </li>
          <li>
            <strong>Final: </strong>
            <%= event.end %>
          </li>
          <li>
            <strong>CTRL: </strong>
            <%= event.ctrl %>
          </li>
        </ul>
        <p class="meio">
          <%= link_to 'Exibir', event, :class=>"exibir" %>
          <%= link_to 'Editar', edit_event_path(event), :class=>"editar" %>
          <%= link_to 'Apagar', event, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
