<p id="notice"><%= notice %></p>
<div class="col-3 caixa">
  <p>
    <strong>Begin:</strong>
    <%= @event.begin %>
  </p>
  
  <p>
    <strong>End:</strong>
    <%= @event.end %>
  </p>
  
  <p>
    <strong>Ctrl:</strong>
    <%= @event.ctrl %>
  </p>
  <p class="meio">
    <%= link_to 'Edit', edit_event_path(@event), :class=>"editar" %>
    <%= link_to 'Back', events_path, :class=>"exibir" %>
  </p>
</div>