<%= form_for(@accomm) do |f| %>
  <% if @accomm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accomm.errors.count, "error") %> prohibited this accomm from being saved:</h2>

      <ul>
      <% @accomm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nome %> 
    <%= f.text_field :name, class: :input %>
  </div>
  <div class="field">
    <%= f.label :Local %> 
    <%= f.text_field :adress, class: :input %>
  </div>
  <div class="field">
    <%= f.label :tipo %> 
    <%= f.text_field :tipo, class: :input %>
  </div>
  <div class="field">
    <%= f.label :Foto %> 
    <%= f.file_field :accomm_photo %>
  </div>
  <div class="actions meio">
    <%= f.submit :Criar, class: :submit %>
  </div>
<% end %>
