<div class="col-3 caixa">
    <h2>Editar Acomodação</h2>

    <%= render 'form' %>

    <p class="meio">
        <%= link_to 'Exibir', @accomm, :class=>"exibir"  %>
        <%= link_to 'Voltar', accomms_path, :class=>"editar"  %>
    </p>
</div>
