  <% @rooms.each do |room| %>
      <div class="caixa col-1">
        <p class="room-type">
          <%= room.accomm.tipo%> 
          <%= room.accomm.name %>
        </p>
        <figure>
          <%= image_tag(room.accomm.accomm_photo) %>
        </figure>
        
        <div>
        
          
          
          
          
          
          <div class="clear"></div>
          <p class="meio">
            <%= link_to 'Show', room, class: :but, :class=>"exibir" %>
            <% if current_user.admin %>
              <%= link_to 'Edit', edit_room_path(room), :class=>"editar" %>
              <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
            <% end %>
          </p>
        </div>
      </div>
      
    <% end %>