<p id="notice"><%= notice %></p>
<div class="col-3 caixa">
  <h2>Acomodações</h2>
  <p class="meio">
    <%= link_to 'Nova Acomodação', new_accomm_path, :class=>"novo" %>
  </p>
  <ul class="lista">
    
    <% @accomms.each do |accomm| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <h3 class="meio">
              <%= accomm.name %> 
            </h3>
          </li>
          <li>
            <strong>Tipo: </strong>
            <%= accomm.tipo %>
          </li>
          <li>
            <strong>Local: </strong>
            <%= accomm.adress %>
          </li>
        </ul>
        <p class="meio">
          <a href="accomms/<%= accomm.id %>/rooms" class="exibir">Quartos</a>
          <% if current_user.admin %>
          <%= link_to 'Editar', edit_accomm_path(accomm), :class=>"editar" %>
          <%= link_to 'Apagar', accomm, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
