

<!--<p class="alert alert-success">-->
  <%= notice %>
<!--</p>-->

<div id="titulo">
  <div class="col-1 caixa centro">
    <h1>Quartos</h1>
    <p class="meio">
      <% if current_user.admin %>
        <%= link_to 'New Room', new_room_path, :class=>"novo" %>
      <% end %>
    </p>
  </div>
</div>

  <div class="col-3 caixa">
    <h2>Opções</h2>
    <p class="meio">
      <a href="rooms/2/" class="novo">2 camas</a>
      <a href="rooms/3/" class="novo">3 camas</a>
      <a href="rooms/4/" class="novo">4 camas</a>
    </p>
  </div>

    <% @rooms.each do |room| %>
      <div class="caixa col-1">
        <p class="room-type">
          <%= room.accomm.tipo%> 
          <%= room.accomm.name %>
        </p>
        <figure>
          <%= image_tag(room.accomm.accomm_photo) %>
        </figure>
        
        <div class="quartoInfos">
          <li style="text-align:center;margin-top:20px;">
            <strong>Vagas: </strong>
            <%= User.where(:room_id => room.id).count %>/<%= room.beds %>
          </li>
          <p><strong>Hospedados</strong></p>
          <div class="centro">
          <% room.users.each do |wow| %>
            <figure class="companheiro">
              <%= image_tag(wow.profile_photo) if wow.profile_photo.present? %> 
            </figure>
          <% end %>
          </div>
          <p class="meio">
            <%= link_to 'Exibir', room, class: :but, :class=>"exibir" %>
            <% if current_user.admin %>
              <%= link_to 'Editar', edit_room_path(room), :class=>"editar" %>
              <%= link_to 'Apagar', room, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
            <% end %>
          </p>
        </div>
      </div>
      
    <% end %>
<br>
<div class="limpar"></div>
</body>