<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <p>
    <strong>Endereço:</strong>
    <%= @accomm.adress %>
  </p>
  
  <p>
    <strong>Tipo:</strong>
    <%= @accomm.tipo %>
  </p>
  <p class="meio">
    <%= link_to 'Edit', edit_accomm_path(@accomm), :class=>"editar" %>
    <%= link_to 'Back', accomms_path, :class=>"exibir" %>
  </p>
</div>