<%= form_for(@federation) do |f| %>
  <% if @federation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@federation.errors.count, "error") %> prohibited this federation from being saved:</h2>

      <ul>
      <% @federation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>
