<div class="col-3 caixa">
    <h2>Editar Federação</h2>

    <%= render 'form' %>

    <p class="meio">
        <%= link_to 'Exibir', @federation, :class=>"exibir" %>
        <%= link_to 'Voltar', federations_path, :class=>"exibir" %>
    </p>
</div>
