<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <h2>Federações</h2>
  <p class="meio">
    <%= link_to 'Nova Federação', new_federation_path, :class=>"novo" %>
  </p>
  <ul class="lista">
    
    <% @federations.each do |federation| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <h3 class="meio">
              <%= federation.name %> 
            </h3>
          </li>
        </ul>
        <p class="meio">
          <%= link_to 'Exibir', federation, :class=>"exibir" %>
          <%= link_to 'Editar', edit_federation_path(federation), :class=>"editar" %>
          <%= link_to 'Apagar', federation, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
