<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <p>
    <strong>Name:</strong>
    <%= @federation.name %>
  </p>
  <p class="meio">
    <%= link_to 'Edit', edit_federation_path(@federation), :class=>"editar" %> |
    <%= link_to 'Back', federations_path, :class=>"exibir" %>
  </p>
</div>