<%= form_for(@ej) do |f| %>
  <% if @ej.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ej.errors.count, "error") %> prohibited this ej from being saved:</h2>

      <ul>
      <% @ej.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :activity %>
    <%= f.text_field :activity %>
  </div>
  <% if @ej.federation %>
  <div class="field">
    <%= f.label :federation %>
    <%= f.collection_select :federation_id, Federation.all, :id, :name %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>
