<div class="col-3 caixa">
    <h2>Editar EJ</h2>

    <%= render 'form' %>

    <p class="meio">
        <%= link_to 'Exibir', @ej, :class=>"exibir" %>
        <%= link_to 'Voltar', ejs_path, :class=>"editar" %>
    </p>
</div>
