<p id="notice"><%= notice %></p>
<div class="col-3 caixa">
  <h2>EJs</h2>
  <p class="meio">
    <%= link_to 'Nova EJ', new_ej_path, :class=>"novo" %>
  </p>
  <ul class="lista">
    
    <% @ejs.order("counter DESC").limit(5).each do |ej| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <h3 class="meio">
              <%= ej.name %> 
            </h3>
          </li>
          <li>
            <strong>Atividade: </strong>
            <%= ej.activity %>
          </li>
          <li>
            <strong>EJuniores: </strong>
            <%= ej.federation %>
          </li>
          <li>
            <strong>Cidade: </strong>
            <%= ej.city %>
          </li>
        </ul>
        <p class="meio">
          <%= link_to 'Exibir', ej, :class=>"exibir" %>
          <%= link_to 'Editar', edit_ej_path(ej), :class=>"editar" %>
          <%= link_to 'Apagar', ej, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>