<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :accomm_id %>
    <%= f.collection_select :accomm_id, Accomm.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :beds %>
    <%= f.number_field :beds %>
  </div>
  <div class="field">
    <%= f.label :Foto %> 
    <%= f.file_field :room_photo %>
  </div>
  <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>
