<% if current_user.room_id == @room.id || !current_user.room_id %>
<% if current_user.room_id.nil? %>
    <p id="entrar" class="meio"><%= link_to "Entrar",  insc_room_path, method: :post, remote: true, authenticity_token: true, :class=>"exibir" %></p>
<% else %>
    <p id="entrar" class="meio"><%= link_to "Sair",  insc_room_path, method: :post, remote: true, authenticity_token: true, :class=>"editar" %></p>
<% end %>
<% end %>