<div class="col-3 caixa">
    <h2>Editar Acomodação</h2>

    <%= render 'form' %>

    <p class="meio">
        <%= link_to 'Exibir', @room, :class=>"exibir" %>
        <%= link_to 'Voltar', rooms_path, :class=>"exibir" %>
    </p>
</div>
