<p id="notice"><%= notice %></p>

<h1>Quartos</h1>


    <% @rooms.each do |room| %>
      <div class="quartoBox">
        <div class="quartoImage"><span><%= room.acomm.tipo</span></div>
        <div class="quartoInfos">
            
        </div>
      </div>
      
    <% end %>
        <%= link_to 'Show', room %>
       <%= link_to 'Edit', edit_room_path(room) %>
        ><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>




<br>

<%= link_to 'New Room', new_room_path %>
<p id="notice"><%= notice %></p>

<h1>Listing Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Accomm</th>
      <th>Beds</th>
      <th>Inscritos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.accomm %></td>
        <td><%= room.beds %></td>
        <td><% room.users.each do |wow| %>
            <%= wow.name %>
          <% end %>
          </td>      
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Room', new_room_path %>
