

<!--<p class="alert alert-success">-->
  <%= notice %>
<!--</p>-->
<div id="titulo">
  <div class="col-1 caixa centro">
    <h1>Quartos</h1>
    <p class="meio">
      <% if current_user.admin %>
        <%= link_to 'New Room', new_room_path, :class=>"novo" %>
      <% end %>
    </p>
  </div>
</div>

    <% @rooms.each do |room| %>
      <div class="caixa col-1">
        <p class="room-type">
          <%= room.accomm.tipo%> 
          <%= room.accomm.name %>
        </p>
        <figure>
          <%= image_tag(room.accomm.accomm_photo) %>
        </figure>
        
        <div class="quartoInfos">
          <% room.users.each do |wow| %>
            <p>
              <%= wow.name %>
            </p>
          <% end %>
          <p class="meio">
          <%= link_to 'Show', room, class: :but, :class=>"exibir" %>
          <% if current_user.admin %>
            <%= link_to 'Edit', edit_room_path(room), :class=>"editar" %>
            <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
          <% end %>
          </p>
        </div>
      </div>
      
    <% end %>
<div class="limpar"></div>
</body>