<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <h2>
    <strong>
      <%= @room.accomm.tipo %>
    </strong>
  </h2>
  <p>
    <strong>
      <%= @room.accomm.name %>
      </strong>
  </p>
  
  <p>
    <em>Camas: </em>
    <%= @room.beds %>
  </p>
  <div class="quartoInfos">
    <%= render 'inscricao' %>
    <p class="meio">
      <% if current_user.admin %>
      <%= link_to 'Edit', edit_room_path(@room), :class=>"editar" %>
      <% end %>
      <%= link_to 'Back', rooms_path, :class=>"exibir" %>
      
    </p>
  </div>
</div>