<%= form_for(@palestra) do |f| %>
  <% if @palestra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@palestra.errors.count, "error") %> prohibited this palestra from being saved:</h2>

      <ul>
      <% @palestra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Titulo %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :vacancies %>
    <%= f.number_field :vacancies %>
  </div>
  <div class="field">
    <%= f.label :Palestrante %>
    <%= f.collection_select :speaker, @users.all, :name, :name %>
  </div>
  <div class="field">
    <%= f.label :Data %>
    <%= f.datetime_select :dat %>
  </div>
  <div class="field">
    <%= f.label :palestra_file %>
    <%= f.file_field :palestra_file %>
  </div>
  <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>
