<% if @paser.nil? %>
    <p id="entrar" class="meio">
        <%= link_to "Inscreva-se",  pasers_new2_path, method: :post, remote: true, authenticity_token: true, :class=>"exibir" %>
    </p>
<% else %>
    <p id="entrar" class="meio">
        <%= link_to "Sair",  pasers_new2_path, method: :post, remote: true, authenticity_token: true, :class=>"editar" %>
    </p>
<% end %>