<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <h2>Palestras e WorkShops</h2>
  <div class="total meio">
    <%= link_to 'Nova Palestra', new_palestra_path, :class=>"novo" %>
  
    <a href="/pasers.csv">Baixar CSV dos inscritos</a>
  </div>
  <ul class="lista">
    
    <% @palestras.each do |palestra| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <h3 class="meio">
              <%= palestra.title %> 
              </h3>
          </li>
          <li>
            <strong>Orador: </strong>
            <%= palestra.speaker %>
          </li>
          <li>
            <strong>Descrição: </strong>
            <%= palestra.description %>
          </li>
          <li>
            <strong>Data: </strong>
            <%= palestra.dat %>
          </li>
          <li>
            <strong>Inscrições: </strong>
            <%= palestra.pasers.count %>/<%= palestra.vacancies %>
          </li>
        </ul>
        <p class="meio">
          <%= link_to 'Exibir', palestra, :class=>"exibir" %>
          <% if current_user.admin %>
            <%= link_to 'Editar', edit_palestra_path(palestra), :class=>"editar" %>
            <%= link_to 'Apagar', palestra, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
