<p id="notice"><%= notice %></p>
<div class="col-3 caixa">
  <h2>
    <strong><%= @palestra.title %></strong>
    
  </h2>
  <p>
    <strong>Palestrante:</strong>
    <%= @palestra.speaker %>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%= @palestra.description %>
  </p>
    
    <%= render 'inscricao' %>
  <div class="meio">
    <% if current_user.admin %>
    <%= link_to 'Edit', edit_palestra_path(@palestra), :class=>"exibir" %> 
    <% end %>
    <%= link_to 'Back', palestras_path, :class=>"exibir" %>
    <% if !@palestra.palestra_file.nil? %>
      <%= link_to 'Download File', :action => 'download_file', :id => @palestra.id %>
    <% end %>
  </div>
</div>