<div class="col-3 caixa">
    <h2>Editar Usuário</h2>

<%= render 'form' %>

    <p class="meio">
        <%= link_to 'Exibir', @paser, :class=>"exibir" %>
        <%= link_to 'Voltar', pasers_path, :class=>"exibir" %>
    </p>
</div>
