<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <h2>Pasers</h2>
  <p class="meio">
    <%= link_to 'Novo Paser', new_paser_path, :class=>"novo" %>
  </p>
  <ul class="lista">
    
    <% @pasers.each do |paser| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <strong>Usuário: </strong>
            <%= paser.user.name %>
          </li>
          <li>
            <strong>Palestra: </strong>
            <%= paser.palestra.title %>
          </li>
        </ul>
        <p class="meio">
          <%= link_to 'Exibir', paser, :class=>"exibir" %>
        <%= link_to 'Editar', edit_paser_path(paser), :class=>"editar" %>
        <%= link_to 'Apagar', paser, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>

<!--<div id="titulo">-->
<!--  <div class="col-1 caixa centro">-->
<!--    <h1>Parsers</h1>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="col-3 caixa">-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>User</th>-->
<!--      <th>Palestra</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <%# @pasers.each do |paser| %>-->
<!--      <tr>-->
<!--        <td><%#= paser.user %></td>-->
<!--        <td><%#= paser.palestra %></td>-->
<!--        <td><%#= link_to 'Show', paser %></td>-->
<!--        <td><%#= link_to 'Edit', edit_paser_path(paser) %></td>-->
<!--        <td><%#= link_to 'Destroy', paser, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <%# end %>-->
<!--  </tbody>-->
<!--</table>-->
<!--</div>-->