<p id="notice"><%= notice %></p>
<div class="col-3 caixa">
  <p>
    <strong>User:</strong>
    <%= @paser.user %>
  </p>
  
  <p>
    <strong>Palestra:</strong>
    <%= @paser.palestra %>
  </p>
  <p class="meio">
    <%= link_to 'Edit', edit_paser_path(@paser), :class=>"editar" %> |
    <%= link_to 'Back', pasers_path, :class=>"exibir" %>
  </p>
</div>