<% if @userdb.conf %>
  <%= form_for(@userdb) do |f| %>
    <% if @userdb.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@userdb.errors.count, "error") %> prohibited this userdb from being saved:</h2>
        <ul>
        <% @userdb.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% if @userdb.updatetype == 1 %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :tel %>
      <%= f.text_field :tel %>
    </div>
    <div class="field">
      <%= f.label :ejid %>
      <%= f.number_field :ejid %>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :cpf %>
      <%= f.text_field :cpf %>
    </div>
    <div class="actions meio">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <p> Não autorizado </p>
<% end %>

