<div class="col-3 caixa">
    <h2>Editar Atualização de Usuário</h2>
    

    <%= render 'form' %>
    <p class="meio">
        <%= link_to 'Show', @userdb %>
        <%= link_to 'Back', userdbs_path %>
    </p>
</div>