<p id="notice"><%= notice %></p>

<div class="col-3 caixa">
  <h2>Banco de Dados de Usuários</h2>
  <p class="meio">
  </p>
  <ul class="lista">
    
    <% @userdbs.each do |userdb| %>
    
      <li class="lista-item">
        <ul class="sublista">
          <li>
            <h3 class="meio">
              <%= userdb.name %> 
            </h3>
          </li>
          <li>
            <strong>Email: </strong>
            <%= userdb.email %>
          </li>
          <li>
            <strong>CPF: </strong>
            <%= userdb.cpf %>
          </li>
          <li>
            <strong>Telefone: </strong>
            <%= userdb.tel %>
          </li>
          <li>
            <strong>Tipo de atualização: </strong>
            <%= userdb.updatetype %>
          </li>
        </ul>
        <p class="meio">
          <%= link_to 'Exibir', userdb, :class=>"exibir" %>
          <%= link_to 'Editar', edit_userdb_path(userdb), :class=>"editar" %>
          <%= link_to 'Apagar', userdb, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"apagar" %>
        </p>
      </li>
    <% end %>
  </ul>
</div>
