<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @userdb.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @userdb.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @userdb.cpf %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @userdb.tel %>
</p>

<p>
  <strong>Ejid:</strong>
  <%= @userdb.ejid %>
</p>

<p>
  <strong>Updatetype:</strong>
  <%= @userdb.updatetype %>
</p>

<%= link_to 'Edit', edit_userdb_path(@userdb), :class=>"editar" %> |
<%= link_to 'Back', userdbs_path, :class=>"exibir" %>
