<%= form_for(@userdb) do |f| %>
    <div style="display:flex;flex-direction:column;align-items:center;padding:20px"><%= f.select :updatetype, [["Usuario ainda não existe", "1"],["Usuario já existe", "2"]] %></div>
    <div class="actions meio">
    <%= f.submit %>
  </div>
<% end %>