/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
/* 0 - Reset da página */
/* 1 - Cabeçalho */
/* 2 - Menu Lateral */
/* 3 - Section */ 
/* 4 - Colunas */
/* 5 - Boxes */ 
/* 6 - Formulários */



@import "**/*";

@import "font-awesome-sprockets";
@import "font-awesome";

/* 0 - Reset da página */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'AvenirDemi', sans-serif;
    color: #383A40;
}

a {
    text-decoration: none;
    color: #BEC5D9;
    background: #19386A;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}

h2 {
    font-size: 1.25em;
}

#tempo {
    display: none;
}

/********************************
 ********************************/

/* 1 - Cabeçalho */

header {
    max-height: 50px;
    position: fixed;
    min-width: 100%;
    box-shadow: 0 0 4px 2px black /*rgba(55, 157, 191, .1)*/;
    background: #379DBF;
}

header .container {
    max-width: 1171px;
    margin: 0 auto;
}

.espaco-cabecalho {
    height: 50px;
}

#logo img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

#logo figcaption{
    display: none;
}

#notification {
    float: right;
    margin-top: 15px;
}

#user ul li {
    display: inline-block;
    margin: 10px;
}

#item {
    margin-top: -40px;
}

#item ul {
    max-width: 495px;
    margin: 0 auto;
}

#item ul li{
    display: inline-block;
}

#item ul li a {
    display: block;
    padding: 15px;
    color: #BEC5D9;
}


/********************************
 ********************************/


/* 2 - Menu Lateral */

#foto-usuario {
    display: inline-block;
    margin: 15px;
    border-radius: 100%;
    background: #19386A;
    max-width: 40px;
    max-height: 40px;
    box-shadow: 2px 2px 2px 2px  #2B60B6;

}

#foto-usuario img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#nome-usuario {
    display: inline-block;
    padding: 15px;
}

#check, .radioescondido {
    display: none;
}

#icone {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    z-index: 3;
    text-shadow: 1px 1px 1px rgba(19, 43, 80, .5);
}

.barra {
    background: #e5e7ef;
    height: calc(100% - 50px);
    margin-top: 50px;
    width: 250px;
    position: fixed;
    transition: all .2s linear;
    left: -250px;
    z-index: 5;
}

nav {
    width: 250px;
    position: fixed;

}

.loguinho {
    width: 25px;
    text-align: center;
}

.item {
    background: #19386A;
    padding: 0;
    font-size: 12pt;
    transition: all .5s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #aaaaaa;
    opacity: 0;
    cursor: pointer;
}

.item a {
    display: block;
    padding: 10px;
    transition: all .5s linear;
}

.item:hover, .item:hover a {
    background: #2B60B6;
    color: #0D1D37;
    transition: all .5s linear;
}

#check:checked ~ .barra{
    transform: translate(250px);
}

#check:checked ~ .barra nav .item{
    opacity: 1;
    margin-top: 0;
    transition-delay: .1s;
}



/********************************
 *********************************/

/* 3 - Section */

.menu-aberto {
    width: calc(100% - 250px);
    transition: .1s;
}

.menu-fechado {
    width: 100%;
    transition: .1s;
}

#secao {
    height: calc(100% - 50px);
    width: 100%;
}

#fundo_section {
    background: url('/assets/fundo_section.png') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100% - 50px);
    width: 100%;
    position: fixed;
    z-index: -2;
}

#secao-container {
    max-width: 960px;
    margin: 0 auto;
}

#ofusca {
    height: calc(100% - 50px);
    width: 100%;
    position: fixed;
    top: 50px;
}

.desofusca {
    z-index: -10;
    background-color: rgba(255, 255, 255, .0);
}

.ofusca{
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    
}

/********************************
 *********************************/


/* 4 - Colunas */

.col-1 {
    vertical-align: top;
    width: calc(33.3333% - 24px);
    display: inline-block;
    margin: 10px;
}

.col-2 {
    vertical-align: top;
    width: calc(66.6666% - 23px);
    display: inline-block;
    margin: 10px;
}

.col-3 {
    vertical-align: top;
    width: calc(100% - 20px);
    display: inline-block;
    margin: 10px;
}

@media (max-width: 767px) {
    .col-1 {
        width: calc(100% - 22px);
    }

    .col-2 {
        width: calc(100% - 22px);
    }

    .col-3 {
        width: calc(100% - 20px);
    }
}

@media (max-width: 480px) {
    .col-1 {
        width: calc(100% - 22px);
    }

    .col-2 {
        width: calc(100% - 22px);
    }

    .col-3 {
        width: calc(100% - 20px);
    }
}


/* 5 - Boxes */
#titulo {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.meio {
    width: 100%;
    text-align: center;
}

.meio a {
    display: inline-block;
    margin: 10px;
}

.centro {
    margin: 0 auto;
    display: block;
}

.top10 {
    height: 10px;
}

.caixa {
    border-top: 8px solid #19386A;
    box-shadow: 1px 2px 2px 2px rgba(19, 43, 80, .5);
    background: rgba(190, 197, 217, .7);
    border-radius: 5px;
}

.caixa a {
    background: #19386A;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #0D1D37;
    width: 100px;
    // color: ;
}

.novo:hover {
    background-color: rgba(43, 96, 182, .5);
    box-shadow: 1px 1px 1px 1px #0D1D37;
    color: #0D1D37;
    transition: all .5s linear;
}

.exibir {
    color: green;
}

.exibir:hover {
    background-color: rgba(144, 182, 34, .5);
    box-shadow: 1px 1px 1px 1px #2B3707;
    color: #2B3707;
    font-weight: bold;
    transition: all .5s linear;
}

.editar {
    color: #FEAB00;
}

.editar:hover {
    background-color: rgba(182, 125, 7, .5);
    box-shadow: 1px 1px 1px 1px #6A4F19;
    color: #6A4F19;
    font-weight: bold;
    transition: all .5s linear;
}

.apagar {
    color: red;
}

.apagar:hover {
    background-color: rgba(119, 50, 40, .5);
    box-shadow: 1px 1px 1px 1px #773228;
    color: #773228;
    font-weight: bold;
    transition: all .5s linear;
}

.caixa p strong{
    color: #185C81;
    font-weight: 900;
}

.caixa p em {
    font-style: normal;
    font-weight: bold;
}

.caixa p, .caixa a, .caixa h2, .caixa h1 {
    padding: 5px;
}

.caixa p, .caixa h2, .caixa h1 {
    text-align: center;
}

.caixa figure {
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px  #2B60B6;
    // background: white;
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.caixa figure img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

figure.companheiro {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 10px;
}

figure.companheiro img {
    width: 30px;
    height: 30px;
}

.caixa .lista {
    padding: 5px;
} 

.sublista h3 {
    color: #182581;
}

#ranking .lista-item {
    width: calc(100% - 20px);
}

.caixa .lista .lista-item {
    padding: 5px;
    margin: 5px;
    background: yellow;
    display: inline-block;
    width: calc(50% - 23px);
    border-top: 4px solid #773228;
    box-shadow: 1px 2px 2px 2px rgba(19, 43, 80, .5);
    background: rgba(190, 197, 217, .9);
    border-radius: 5px;
    vertical-align: top;
}

@media (max-width: 767px) {
    .caixa .lista .lista-item {
        width: calc(100% - 20px);
    }
}

.sublista li strong {
    color: #185C81;
    font-weight: 900;
}

.caixa table {
    width: 100%;
}

.caixa table tr {
    margin-top: 10px;
}

.caixa table tr td {
    background: rgba(255,255,255,.3);
}

.caixa table tr th {
    background: rgba(56,58,64,.3);
}

.caixa table tr td, .caixa table tr th {
    text-align: center;
    border-radius: 3px;
    height: 30px;
}

.pagination {
    background: rgba(255, 255, 255, .3);
    display: block;
    margin: 15px auto;
    width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.pagination a {
    background: none;
    color: blue;
    box-shadow: none;
    padding: 5px;
}

.pagination em {
    font-weight: 600;
    padding: 5px;
}

/********************************
 ********************************/
 
 
/* 6 - Formulários */ 

form {
    padding: 0 20px;
}

form .field {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #0D1D37;
    background: rgba(255,255,255,.7);
    width: 100%;
    height: 60px;
    vertical-align: center;
}

.field label {
    background: rgba(56,58,64,.5);
    // padding: 5px 5px;
    font-weight: bold;
    color: #185C81;
    width: calc(100% - 10px);
    border-radius: 5px 5px 0 0;
    display: inline-block;
    font-size: 1em;
    padding: 5px;
    height: calc(40% - 10px);
    text-align: center;
}

.field input, .field textarea {
    height: calc(60% - 24px);
    width: calc(100% - 24px);
    padding: 10px;
    border: 2px inset rgba(56,58,64, 1);
    border-radius: 0 0 5px 5px;
}

// Deu erro com a entrada de data
// .field select {
//     width: 100%;
//     height: 60%;
//     border: 2px inset rgba(56,58,64, 1);
//     border-radius: 0 0 5px 5px;
// }

input[type="submit"] {
    background: #19386A;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px #0D1D37;
    border: none;
    color: #BEC5D9;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: rgba(144, 182, 34, .5);
    box-shadow: 1px 1px 1px 1px #2B3707;
    color: #2B3707;
    transition: .5s;
}

/********************************
 ********************************/

 
.alert {
    width: auto;
    background: rgba(0, 128, 0, .2);
    color: #060;
    box-shadow: 1px 1px 1px 1px #080;
    position: absolute;
    border-radius: 5px;
    float: right;
    display: block;
    font-weight: bold;
    text-align: center;
    top: 65px;
    right: 15px;
}
.container {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.box-login {
    padding:100px;
    border:1px solid #dedede;
    margin-top:100px;
    padding-top:50px;
}
.boxTitle {
    text-align: center;
}
// .input {
//     width:200px;
//     border:none;
//     background:#f9f9f9;
//     border-radius:4px;
//     height:40px;
//     margin-top:30px;
//     outline-color:#a26ff9;
//     padding-left:20px;
//     font-family: 'Avenir Demi'
// }
.submit {
    width:220px;
    height:40px;
    border:none;
    background:#a26ff9;
    margin-top:30px;
    border-radius: 2px;
    font-family: 'Avenir Demi';
    color:white;
}
.signup {
    text-align: center;
    font-size:13px;
    margin-top:50px;
}
.logo {
    position: relative;
    width: 140px;
    float:left;
    top:10px;
    left:10px;
}
.menu-right {
    float:right;
    position: relative;
    top:25px;
    right:30px;
}
.menu-right a {
    margin-left:15px;
    color:#99a9be;
    font-size:13.2px;
    text-decoration: none;
    list-style: none;
}
.menu-right .button {
    width: 120px;
    height:30px;
    border:none;
    border-radius:4px;
    background: #5200e0;
    color:white;
    padding: 8px 10px
}
.countdown {
    width:300px;
    margin:auto;
    position: relative;
    top:10px;
    display: block;
}
.countdown span {
    font-size:14.5px;
    text-align:center;
    
}
.countdown h2 {
    text-align: center;
    position: relative;
    top:2px;
    font-size:18px;
}
.countdown h2 span {
    color:#dedede;
    font-size:13px;
    border-bottom:1px solid #99a9be;
    color:#99a9be;
}
footer {

    margin-top:100px;
    margin-bottom: 100px;
}

.limpar {
    clear: both;
}
.boxes {
width: 100%;
}
.box {
    width: 50%;
    float: left;
}

.box1 {
    width:93%;
    max-width: 500px;
    height:180px;
    border:1px solid #dedede;
    border-radius:4px;
    background-image: url(mej05.png);
    background-size:260px;
    background-repeat: no-repeat;
    float: right;
    margin-right:10px;
    
  
}
.box2 {
    width: 93%;
    max-width:500px;
    height:180px;
    border:1px solid #dedede;
    border-radius:4px;
    margin-right:10px;
  
    
}

.title {
    float: right;
    max-width:200px;
}
.title h2 {
    text-align: center;
    font-size:32px;
    color:#99a9be;
    position: relative;
    right:20px;
    top:30px;
}
.title2 {
    max-width: 400px;
    float: none;
    text-align: center;
    margin:auto;
    display: block;
}
.title2 h1 {
    text-align:center;
    color:#99a9be;
    font-size:30px;
    text-align: center;
    position: relative;
    top:32px;
    
}
.title2 h1 span {
    font-size:60px;
    color:#F3776C;
}
@media(max-width:766px) {
    .box {
        width: 100%;
        margin-top:100px;
    }
    .box1 {
        float: none;
        text-align:center;
        margin-left:10px;
       
    }
    .title {
        float: none;
        text-align: center;
        margin:auto;
        display: block;
    }
    .box2 {
       margin-left:10px;
    }
    .menu-right {
        top:0px;
        left:0px;
        right:0px;
        float:right;
        padding: 20px;
        margin-top:10px;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }
    .menu-right a {
    margin-left:30px;
    
}
    header {
        height: 110px;
    }
    .countdown {
        display:none;
    }
    footer {
        margin-top:10px;
        margin-bottom: 10px;
    }
}
@media(min-width:910px) {
    
}
.quartoBox {
    width:28%;
    margin:auto;
    display:block;
    float:left;
    margin:50px;
    height:300px;
    background:white;
    border:none;
    border-radius:4px;
    border:1px solid #dedede;
}
.limpar {
  
    clear:both;
  
}


.room-type {
    background: #2D2E33;
    color: #B3B9CC;
    width: 50%;
    font-size: 11px;
    border-radius: 4px;
    padding: 1px 7px;
    position: relative;
    margin: 10px auto;
 
}


.roomTitle {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.quartoImage img  {
    height: 140px;
    width: 100%;
}
.but {
    width: 30%;
    text-align: center;
    color: white;
    background: #354cfc;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 4px 8px;
    border-radius: 3px;
    
}
.profile {
    width:90px;
}
.centering {
    display:flex;flex-direction:column;align-items:center;
}