<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EventIN</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    @font-face {
    font-family: 'Avenir Demi';
    src: url('/assets/AvenirDemi.woff2') format('woff2');
    }
    @font-face {
    font-family: 'AvenirThin';
    src: url('AvenirThin.woff2') format('woff2');
    }
</style>
<body onload="timer()">
  <header>
    <h1 class="hide">EventIN</h1>
      <div class="container">
          <figure id="logo">
              <%= image_tag "logo.png", alt: "Edit Entry",class: :profile  %>
              <figcaption>EventIN</figcaption>
          </figure>
              <div class="clear"></div>
        </div>
    </header>
    
    <!--MENU COMEÇA AQUI-->
    <input type="checkbox" id="check" id="input-menu" onchange="abreMenu(this)">
    <label for="check" id="icone"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></label>
    <% if !current_user.nil? %>
    <div class="barra">
        <nav>
            <ul id="menu">
                <li class="item">
            <a href="/users">
                <figure id="foto-usuario">
                    <!--Trocar o conteúdo dessa tag pela foto do usuário e apagar a linha abaixo -->
                    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                </figure>
                <p id="nome-usuario">
                    <!--Trocar o conteúdo dessa tag pelo nome do usuário-->
                    <%= current_user.name %>
                </p>
            </a>
                </li>
                <li class="item">
                    <a href="/users/<%= current_user.id %>">
                        <i class="fa fa-home loguinho" aria-hidden="true"></i> 
                        Home
                    </a>
                </li>
                <!--<li class="item">-->
                <!--    <a href="#">-->
                <!--        <i class="fa fa-info loguinho" aria-hidden="true"></i> -->
                <!--        Sobre o EventIN-->
                <!--    </a>-->
                <!--</li>-->
                <li class="item">
                        <a href="/userdbs/transferencia">
                            <i class="fa fa-exchange loguinho" aria-hidden="true"></i>
                            Tranferencia
                        </a>
                    </li>
                <li class="item">
                    <a href="/accomms">
                        <i class="fa fa-bed loguinho" aria-hidden="true"></i> 
                        Acomodações
                    </a>
                </li>
                <li class="item">
                    <a href="/palestras">
                        <i class="fa fa-calendar loguinho" aria-hidden="true"></i> 
                        Programações
                    </a>
                </li>
                <li class="item">
                    <a href="/ejs">
                        <i class="fa fa-briefcase loguinho" aria-hidden="true"></i> 
                        EJuniores
                    </a>
                </li>
                <% if current_user.admin %>
                    <li class="item">
                        <a href="/federations">
                            <i class="fa fa-flag loguinho" aria-hidden="true"></i>Federações
                        </a>
                    </li>
                    <li class="item">
                        <a href="/accomms">
                            <i class="fa fa-building-o loguinho" aria-hidden="true"></i>Hoteis
                        </a>
                    </li>
                    <li class="item">
                        <a href="/rooms">
                            <i class="fa fa-tags loguinho" aria-hidden="true"></i>Quartos
                        </a>
                    </li>
                    <li class="item">
                        <a href="/events">
                            <i class="fa fa-calendar-check-o loguinho" aria-hidden="true"></i>Eventos
                        </a>
                    </li>
                    <li class="item">
                        
                        <%= link_to "Sair", logout_path, method: :delete  %>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>
    <% end %>
    <!--MENU TERMINA AQUI-->
    <div class="espaco-cabecalho"></div>
    <section id="secao" class="menu-fechado">
        <div id="fundo_section"></div>
        <div id="ofusca" class= "desofusca" onclick="fechaMenu();"></div>
        <div id="secao-container">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
        </div>
    </section>
</body>
</html>
